@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #240041 ;
  
  margin-top: 0 !important;

  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
